<% for(var i = 0;i<items.length;i++){%>
    <div class="col-sm-4 item">
        <p>FEE: $ <%= items[i].fee %></p>
        <p>Delivery: $ <%= items[i].deliveryPrice %></p>
        <ul class="nav nav-pills">
            <li role="presentation"><span>Price: $ <%= items[i].price %></span></li>
            <li role="presentation" class="active" item>
                <input id="<%= items[i].id %>" type="checkbox">
                <label for="<%= items[i].id %>">Buy</label>
            </li>
        </ul>
    </div>
<%}%>