@font-face {
    font-family: 'AleksandraC';
    src: url('fonts/aleksandrac.otf');
}
body{
    background-color: #F3F3F4 !important;
}

.login-field-icon{
    line-height: 2.4;
}
.modal-backdrop {
    z-index: 1039;
}
.a-link{
    cursor:pointer;
}
#login-wrap{
    width: 100%;
    background-color: rgba(26, 188, 156, 0.9); 
    min-height:100vh;
    position: fixed;
    z-index: 15000;
    top:-201vh;
}

#close-login{
    cursor:pointer;
    text-align: right;
    display: none;
    position: fixed;
    right: 10px;
    height: 80px;
    background: transparent;
}

#close-login span{
    font-size: 40px;
    font-family: 'AleksandraC';
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
    margin-right: 15px;
    line-height:45px;
}

#close-login i{
    color: rgba(255, 255, 255, 0.8); 
    font-size: 50px;
}

@media(min-width:768px){
    .login-top{padding-top:150px}

    .mButton, .hButton{
        display: none;
    }

    #close-login{
        top:10px;
    }
    #sidebar-close{
        display:none;
    }
}

@media (max-width: 768px) {
    .mButton{
        display: block;
        position:fixed;
        bottom:15px;
        right:15px;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-shadow: 2px 2px 10px;
        background:#1ABC9C;
        z-index: 999;
    }

    .hButton{
        display: block;
        position:fixed;
        bottom:0;
        left:-300vh;
        width: 75%;
        height: 70px;
        box-shadow: 2px 2px 10px;
        background:#1ABC9C;
        z-index: 1000;
        padding: 10px 10px 20px;
        color:#fff;
        font-size: 35px;
        font-family: 'AleksandraC';
    }
    
    .mButton i{
        color: white;
        font-size: 55px;
        margin: 15px 18px;
    }
    .hButton i{
        color: white;
        font-size: 40px;
        margin-left: 10px;
    }

    .login-mar{
        margin-top: 30px;
    }

    #close-login{
        top:280px;
    }
    #sidebar{
        display: block;
        left: -250vh;
        position: fixed;
        width: 75%;
        background-color: #f0f0f0;
        height: 100vh;
        z-index: 998;
        border-right: 1px solid silver;
        box-shadow: 10px 10px 50px rgba(0,0,0,0.4);
        overflow: scroll;
        padding-bottom: 120px;
    }
    #sidebar-close{
        display:block;
        right:-100vh;
        position : fixed;
        width: 25%;
        height: 100vh;
        background: transparent;
        border: 0 solid transparent;
        z-index: 998;
        
    }
}

.widget {
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#fff;
    font-weight: 300;
}
.widget h1{
	font-size: 48px;
}
.widget h3{
	font-size: 32px;
}
.p-lg {
    padding: 30px;
}

/* widgets */
.no-margins {
    margin: 0px !important;
}
.stat-percent {
    float: right;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0px;
    padding: 0px;
}

.ibox h1{
    font-size: 30px;
    font-weight: 100;
}

.ibox h2{
    font-size: 24px;
    font-weight: 100;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFF;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0px;
    color: inherit;
    margin-bottom: 0px;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-content {
    background-color: #FFF;
    color: inherit;
    padding: 15px 20px 20px;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.ibox-title .label {
    float: left;
    margin-left: 4px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px 7px;
    padding: 0px;
    text-overflow: ellipsis;
    float: left;
}

#plus label{
    color:#2ecc71 !important;
    line-height: 1.6 !important;
}
div[c-radio]#plus input[type="radio"]:checked + label:before,
div[c-radio]#plus input[type="radio"]:not(:checked) + label:before{
    border-color:#2ecc71 !important;
}
div[c-radio]#plus input[type="radio"]:not(:checked) + label:after,
div[c-radio]#plus input[type="radio"]:checked + label:after{
    color:#2ecc71 !important;
}

#minus label{
    line-height: 1.6 !important;
    color:#e74c3c !important;
}
div[c-radio]#minus input[type="radio"]:checked + label:before,
div[c-radio]#minus input[type="radio"]:not(:checked) + label:before{
    border-color:#e74c3c !important;
}
div[c-radio]#minus input[type="radio"]:not(:checked) + label:after,
div[c-radio]#minus input[type="radio"]:checked + label:after{
    color:#e74c3c !important;
}

#waiting{
    position: fixed;    
    right: 0;    
    top: 0;z-index: 2000;        
    background: #f3f3f4;    
    width: 100%;    
    opacity: 0.7;    
    height: 100vh;    
    padding: 0 20px;
    text-align: center;
}
#waiting table,#waiting td{
    width:100%;
    height: 100vh;
    border:0 solid transparent;
    text-align: center;
}

.full-font{
    font-size: 100%;
}
@media (min-width: 768px) {
    *[desktop-width-100]{
        width: 100px;
    }
}

@media (max-width: 768px) {
    *[desktop]{
        display: none;
    }
}

*[full-width]{
    width: 100%!important;
    display: block;
}