@font-face {
    font-family: 'Myriad-Pro';
    src: local('Myriad-Pro'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff'), url('fonts/MYRIADPRO-REGULAR.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
}
