@font-face {
    font-family: 'Share-TechMono';
    src: local('Share-TechMono'), url('fonts/share-techmono.woff2') format('woff2'), url('fonts/share-techmono.woff') format('woff'), url('fonts/share-techmono.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
