/**
 Simple Social CSS 1.0.0
 Copyright (C) 2015  Nick Zaporozets

 This program is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
*{
    margin:0;
    padding: 0;
    border: 0 solid transparent;
    border-collapse: collapse;
}

/* static rules */
/* transitions */
.transit-05{
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
.transit-05:hover{
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}
.transit-1{
    -webkit-transition: All 1.0s ease;
    -moz-transition: All 1.0s ease;
    -o-transition: All 1.0s ease;
    -ms-transition: All 1.0s ease;
    transition: All 1.0s ease;
}
.transit-1:hover{
    -webkit-transition: All 1.0s ease;
    -moz-transition: All 1.0s ease;
    -o-transition: All 1.0s ease;
    -ms-transition: All 1.0s ease;
    transition: All 1.0s ease;
}
.transit-15{
    -webkit-transition: All 1.5s ease;
    -moz-transition: All 1.5s ease;
    -o-transition: All 1.5s ease;
    -ms-transition: All 1.5s ease;
    transition: All 1.5s ease;
}
.transit-15:hover{
    -webkit-transition: All 1.5s ease;
    -moz-transition: All 1.5s ease;
    -o-transition: All 1.5s ease;
    -ms-transition: All 1.5s ease;
    transition: All 1.5s ease;
}
.pointer{
    cursor: pointer;
}
.default{
    cursor: default;
}
.no-select{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
textarea,
.textarea{
    overflow: auto;
}
table,
.table{
    border-spacing: 0;
    border-collapse: collapse;
}
b,
.b,
strong,
.strong{
    font-weight: 500;
}
a,
a:visited{
    text-decoration: underline;
}
img{
    max-width: 100% !important;
    text-align: center;
}
html{
    font-size: 12px;
}
body{
    font-size:12px;     /* changeable */
    color: #000;        /* changeable */
    background: #fff;   /* changeable */
}
a {
    color: #3d3cff;     /* changeable */
    text-decoration: none;
}
a:hover,
a:focus {
    color: #0d11ff;     /* changeable */
    text-decoration: underline;
}
hr{
    margin: 10px 0;
}
.circle-borders{
    border-radius: 50%;
}

/* changeable text colors and elements backgrounds */
.disabled-text {
    color: #777;
}
.main-text {
    color: #428bca;
}
a.main-text:hover,
a.main-text:focus{
    color: #3071a9;
}
.success-text {
    color: #3c763d;
}
a.success-text:hover,
a.success-text:focus{
    color: #2b542c;
}
.error-text {
    color: #a94442;
}
a.error-text:hover,
a.error-text:focus{
    color: #843534;
}
.main-background {
    background-color: #d9edf7;
}
a.main-background:hover {
    background-color: #afd9ee;
}
.success-background {
    background-color: #dff0d8;
}
a.success-background:hover {
    background-color: #c1e2b3;
}
.error-background {
    background-color: #f2dede;
}
a.error-background:hover {
    background-color: #e4b9b9;
}
.container{
    margin-left: auto;
    margin-right: auto;
}
*[class*="cont-"]{
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    min-height: 1px;
}

@media (min-width: 720px){
    img[simple-type="vertical"]{
        max-height: 100% !important;
        text-align: center;
        max-width: inherit;
        padding: 0;
    }
    
    *[class*="cont-"]{
        float:left;
        box-sizing: border-box;
    }
    .container{
        width: 700px;
    }
    .cont-10{
        width: 100%;
    }
    .cont-9{
        width: 90%;
    }
    .cont-8{
        width: 80%;
    }
    .cont-7{
        width: 70%;
    }
    .cont-6{
        width: 60%;
    }
    .cont-5{
        width: 50%;
    }
    .cont-4{
        width: 40%;
    }
    .cont-3{
        width: 30%;
    }
    .cont-2{
        width: 20%;
    }
    .cont-1{
        width: 10%;
    }
}

@media (min-width: 960px){
    *[class*="cont-"]{
        float:left;
        box-sizing: border-box;
    }
    .container{
        width: 920px;
    }
    .cont-10{
        width: 100%;
    }
    .cont-9{
        width: 90%;
    }
    .cont-8{
        width: 80%;
    }
    .cont-7{
        width: 70%;
    }
    .cont-6{
        width: 60%;
    }
    .cont-5{
        width: 50%;
    }
    .cont-4{
        width: 40%;
    }
    .cont-3{
        width: 30%;
    }
    .cont-2{
        width: 20%;
    }
    .cont-1{
        width: 10%;
    }
}

@media (min-width: 1200px){
    *[class*="cont-"]{
        float:left;
        box-sizing: border-box;
    }
    .container{
        width: 1140px;
    }
    .cont-10{
        width: 100%;
    }
    .cont-9{
        width: 90%;
    }
    .cont-8{
        width: 80%;
    }
    .cont-7{
        width: 70%;
    }
    .cont-6{
        width: 60%;
    }
    .cont-5{
        width: 50%;
    }
    .cont-4{
        width: 40%;
    }
    .cont-3{
        width: 30%;
    }
    .cont-2{
        width: 20%;
    }
    .cont-1{
        width: 10%;
    }
}

/* paddings */
.pad-0{
    padding: 0;
}
.pad-1{
    padding: 1px;
}
.pad-2{
    padding: 2px;
}
.pad-3{
    padding: 3px;
}
.pad-4{
    padding: 4px;
}
.pad-5{
    padding: 5px;
}
.pad-6{
    padding: 6px;
}
.pad-7{
    padding: 7px;
}
.pad-8{
    padding: 8px;
}
.pad-9{
    padding: 9px;
}
.pad-10{
    padding: 10px;
}
.pad-15{
    padding: 15px;
}
.pad-20{
    padding: 20px;
}
.pad-25{
    padding: 25px;
}
.pad-30{
    padding: 30px;
}
.pad-40{
    padding: 40px;
}
.pad-50{
    padding: 50px;
}
.pad-ver-0{
    padding-top: 0;
    padding-bottom: 0;
}
.pad-ver-1{
    padding-top: 1px;
    padding-bottom: 1px;
}
.pad-ver-2{
    padding-top: 2px;
    padding-bottom: 2px;
}
.pad-ver-3{
    padding-top: 3px;
    padding-bottom: 3px;
}
.pad-ver-4{
    padding-top: 4px;
    padding-bottom: 4px;
}
.pad-ver-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.pad-ver-6{
    padding-top: 6px;
    padding-bottom: 6px;
}
.pad-ver-7{
    padding-top: 7px;
    padding-bottom: 7px;
}
.pad-ver-8{
    padding-top: 8px;
    padding-bottom: 8px;
}
.pad-ver-9{
    padding-top: 9px;
    padding-bottom: 9px;
}
.pad-ver-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.pad-ver-15{
    padding-top: 15px;
    padding-bottom: 15px;
}
.pad-ver-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pad-ver-25{
    padding-top: 25px;
    padding-bottom: 25px;
}
.pad-ver-30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.pad-ver-40{
    padding-top: 40px;
    padding-bottom: 40px;
}
.pad-ver-50{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pad-hor-0{
    padding-left: 0;
    padding-right: 0;
}
.pad-hor-1{
    padding-left: 1px;
    padding-right: 1px;
}
.pad-hor-2{
    padding-left: 2px;
    padding-right: 2px;
}
.pad-hor-3{
    padding-left: 3px;
    padding-right: 3px;
}
.pad-hor-4{
    padding-left: 4px;
    padding-right: 4px;
}
.pad-hor-5{
    padding-left: 5px;
    padding-right: 5px;
}
.pad-hor-6{
    padding-left: 6px;
    padding-right: 6px;
}
.pad-hor-7{
    padding-left: 7px;
    padding-right: 7px;
}
.pad-hor-8{
    padding-left: 8px;
    padding-right: 8px;
}
.pad-hor-9{
    padding-left: 9px;
    padding-right: 9px;
}
.pad-hor-10{
    padding-left: 10px;
    padding-right: 10px;
}
.pad-hor-15{
    padding-left: 15px;
    padding-right: 15px;
}
.pad-hor-20{
    padding-left: 20px;
    padding-right: 20px;
}
.pad-hor-25{
    padding-left: 25px;
    padding-right: 25px;
}
.pad-hor-30{
    padding-left: 30px;
    padding-right: 30px;
}
.pad-hor-40{
    padding-left: 40px;
    padding-right: 40px;
}
.pad-hor-50{
    padding-left: 50px;
    padding-right: 50px;
}
.pad-top-0{
    padding-top: 0;
}
.pad-top-1{
    padding-top: 1px;
}
.pad-top-2{
    padding-top: 2px;
}
.pad-top-3{
    padding-top: 3px;
}
.pad-top-4{
    padding-top: 4px;
}
.pad-top-5{
    padding-top: 5px;
}
.pad-top-6{
    padding-top: 6px;
}
.pad-top-7{
    padding-top: 7px;
}
.pad-top-8{
    padding-top: 8px;
}
.pad-top-9{
    padding-top: 9px;
}
.pad-top-10{
    padding-top: 10px;
}
.pad-top-15{
    padding-top: 15px;
}
.pad-top-20{
    padding-top: 20px;
}
.pad-top-25{
    padding-top: 25px;
}
.pad-top-30{
    padding-top: 30px;
}
.pad-top-40{
    padding-top: 40px;
}
.pad-top-50{
    padding-top: 50px;
}
.pad-right-0{
    padding-right: 0;
}
.pad-right-1{
    padding-right: 1px;
}
.pad-right-2{
    padding-right: 2px;
}
.pad-right-3{
    padding-right: 3px;
}
.pad-right-4{
    padding-right: 4px;
}
.pad-right-5{
    padding-right: 5px;
}
.pad-right-6{
    padding-right: 6px;
}
.pad-right-7{
    padding-right: 7px;
}
.pad-right-8{
    padding-right: 8px;
}
.pad-right-9{
    padding-right: 9px;
}
.pad-right-10{
    padding-right: 10px;
}
.pad-right-15{
    padding-right: 15px;
}
.pad-right-20{
    padding-right: 20px;
}
.pad-right-25{
    padding-right: 25px;
}
.pad-right-30{
    padding-right: 30px;
}
.pad-right-40{
    padding-right: 40px;
}
.pad-right-50{
    padding-right: 50px;
}
.pad-bottom-0{
    padding-bottom: 0;
}
.pad-bottom-1{
    padding-bottom: 1px;
}
.pad-bottom-2{
    padding-bottom: 2px;
}
.pad-bottom-3{
    padding-bottom: 3px;
}
.pad-bottom-4{
    padding-bottom: 4px;
}
.pad-bottom-5{
    padding-bottom: 5px;
}
.pad-bottom-6{
    padding-bottom: 6px;
}
.pad-bottom-7{
    padding-bottom: 7px;
}
.pad-bottom-8{
    padding-bottom: 8px;
}
.pad-bottom-9{
    padding-bottom: 9px;
}
.pad-bottom-10{
    padding-bottom: 10px;
}
.pad-bottom-15{
    padding-bottom: 15px;
}
.pad-bottom-20{
    padding-bottom: 20px;
}
.pad-bottom-25{
    padding-bottom: 25px;
}
.pad-bottom-30{
    padding-bottom: 30px;
}
.pad-bottom-40{
    padding-bottom: 40px;
}
.pad-bottom-50{
    padding-bottom: 50px;
}
.pad-left-0{
    padding-left: 0;
}
.pad-left-1{
    padding-left: 1px;
}
.pad-left-2{
    padding-left: 2px;
}
.pad-left-3{
    padding-left: 3px;
}
.pad-left-4{
    padding-left: 4px;
}
.pad-left-5{
    padding-left: 5px;
}
.pad-left-6{
    padding-left: 6px;
}
.pad-left-7{
    padding-left: 7px;
}
.pad-left-8{
    padding-left: 8px;
}
.pad-left-9{
    padding-left: 9px;
}
.pad-left-10{
    padding-left: 10px;
}
.pad-left-15{
    padding-left: 15px;
}
.pad-left-20{
    padding-left: 20px;
}
.pad-left-25{
    padding-left: 25px;
}
.pad-left-30{
    padding-left: 30px;
}
.pad-left-40{
    padding-left: 40px;
}
.pad-left-50{
    padding-left: 50px;
}

/* margins */
.mar-0{
    margin: 0;
}
.mar-1{
    margin: 1px;
}
.mar-2{
    margin: 2px;
}
.mar-3{
    margin: 3px;
}
.mar-4{
    margin: 4px;
}
.mar-5{
    margin: 5px;
}
.mar-6{
    margin: 6px;
}
.mar-7{
    margin: 7px;
}
.mar-8{
    margin: 8px;
}
.mar-9{
    margin: 9px;
}
.mar-10{
    margin: 10px;
}
.mar-15{
    margin: 15px;
}
.mar-20{
    margin: 20px;
}
.mar-25{
    margin: 25px;
}
.mar-30{
    margin: 30px;
}
.mar-40{
    margin: 40px;
}
.mar-50{
    margin: 50px;
}
.mar-ver-0{
    margin-top: 0;
    margin-bottom: 0;
}
.mar-ver-1{
    margin-top: 1px;
    margin-bottom: 1px;
}
.mar-ver-2{
    margin-top: 2px;
    margin-bottom: 2px;
}
.mar-ver-3{
    margin-top: 3px;
    margin-bottom: 3px;
}
.mar-ver-4{
    margin-top: 4px;
    margin-bottom: 4px;
}
.mar-ver-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.mar-ver-6{
    margin-top: 6px;
    margin-bottom: 6px;
}
.mar-ver-7{
    margin-top: 7px;
    margin-bottom: 7px;
}
.mar-ver-8{
    margin-top: 8px;
    margin-bottom: 8px;
}
.mar-ver-9{
    margin-top: 9px;
    margin-bottom: 9px;
}
.mar-ver-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mar-ver-15{
    margin-top: 15px;
    margin-bottom: 15px;
}
.mar-ver-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mar-ver-25{
    margin-top: 25px;
    margin-bottom: 25px;
}
.mar-ver-30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.mar-ver-40{
    margin-top: 40px;
    margin-bottom: 40px;
}
.mar-ver-50{
    margin-top: 50px;
    margin-bottom: 50px;
}
.mar-hor-0{
    margin-left: 0;
    margin-right: 0;
}
.mar-hor-1{
    margin-left: 1px;
    margin-right: 1px;
}
.mar-hor-2{
    margin-left: 2px;
    margin-right: 2px;
}
.mar-hor-3{
    margin-left: 3px;
    margin-right: 3px;
}
.mar-hor-4{
    margin-left: 4px;
    margin-right: 4px;
}
.mar-hor-5{
    margin-left: 5px;
    margin-right: 5px;
}
.mar-hor-6{
    margin-left: 6px;
    margin-right: 6px;
}
.mar-hor-7{
    margin-left: 7px;
    margin-right: 7px;
}
.mar-hor-8{
    margin-left: 8px;
    margin-right: 8px;
}
.mar-hor-9{
    margin-left: 9px;
    margin-right: 9px;
}
.mar-hor-10{
    margin-left: 10px;
    margin-right: 10px;
}
.mar-hor-15{
    margin-left: 15px;
    margin-right: 15px;
}
.mar-hor-20{
    margin-left: 20px;
    margin-right: 20px;
}
.mar-hor-25{
    margin-left: 25px;
    margin-right: 25px;
}
.mar-hor-30{
    margin-left: 30px;
    margin-right: 30px;
}
.mar-hor-40{
    margin-left: 40px;
    margin-right: 40px;
}
.mar-hor-50{
    margin-left: 50px;
    margin-right: 50px;
}
.mar-top-0{
    margin-top: 0;
}
.mar-top-1{
    margin-top: 1px;
}
.mar-top-2{
    margin-top: 2px;
}
.mar-top-3{
    margin-top: 3px;
}
.mar-top-4{
    margin-top: 4px;
}
.mar-top-5{
    margin-top: 5px;
}
.mar-top-6{
    margin-top: 6px;
}
.mar-top-7{
    margin-top: 7px;
}
.mar-top-8{
    margin-top: 8px;
}
.mar-top-9{
    margin-top: 9px;
}
.mar-top-10{
    margin-top: 10px;
}
.mar-top-15{
    margin-top: 15px;
}
.mar-top-20{
    margin-top: 20px;
}
.mar-top-25{
    margin-top: 25px;
}
.mar-top-30{
    margin-top: 30px;
}
.mar-top-40{
    margin-top: 40px;
}
.mar-top-50{
    margin-top: 50px;
}
.mar-right-0{
    margin-right: 0;
}
.mar-right-1{
    margin-right: 1px;
}
.mar-right-2{
    margin-right: 2px;
}
.mar-right-3{
    margin-right: 3px;
}
.mar-right-4{
    margin-right: 4px;
}
.mar-right-5{
    margin-right: 5px;
}
.mar-right-6{
    margin-right: 6px;
}
.mar-right-7{
    margin-right: 7px;
}
.mar-right-8{
    margin-right: 8px;
}
.mar-right-9{
    margin-right: 9px;
}
.mar-right-10{
    margin-right: 10px;
}
.mar-right-15{
    margin-right: 15px;
}
.mar-right-20{
    margin-right: 20px;
}
.mar-right-25{
    margin-right: 25px;
}
.mar-right-30{
    margin-right: 30px;
}
.mar-right-40{
    margin-right: 40px;
}
.mar-right-50{
    margin-right: 50px;
}
.mar-bottom-0{
    margin-bottom: 0;
}
.mar-bottom-1{
    margin-bottom: 1px;
}
.mar-bottom-2{
    margin-bottom: 2px;
}
.mar-bottom-3{
    margin-bottom: 3px;
}
.mar-bottom-4{
    margin-bottom: 4px;
}
.mar-bottom-5{
    margin-bottom: 5px;
}
.mar-bottom-6{
    margin-bottom: 6px;
}
.mar-bottom-7{
    margin-bottom: 7px;
}
.mar-bottom-8{
    margin-bottom: 8px;
}
.mar-bottom-9{
    margin-bottom: 9px;
}
.mar-bottom-10{
    margin-bottom: 10px;
}
.mar-bottom-15{
    margin-bottom: 15px;
}
.mar-bottom-20{
    margin-bottom: 20px;
}
.mar-bottom-25{
    margin-bottom: 25px;
}
.mar-bottom-30{
    margin-bottom: 30px;
}
.mar-bottom-40{
    margin-bottom: 40px;
}
.mar-bottom-50{
    margin-bottom: 50px;
}
.mar-left-0{
    margin-left: 0;
}
.mar-left-1{
    margin-left: 1px;
}
.mar-left-2{
    margin-left: 2px;
}
.mar-left-3{
    margin-left: 3px;
}
.mar-left-4{
    margin-left: 4px;
}
.mar-left-5{
    margin-left: 5px;
}
.mar-left-6{
    margin-left: 6px;
}
.mar-left-7{
    margin-left: 7px;
}
.mar-left-8{
    margin-left: 8px;
}
.mar-left-9{
    margin-left: 9px;
}
.mar-left-10{
    margin-left: 10px;
}
.mar-left-15{
    margin-left: 15px;
}
.mar-left-20{
    margin-left: 20px;
}
.mar-left-25{
    margin-left: 25px;
}
.mar-left-30{
    margin-left: 30px;
}
.mar-left-40{
    margin-left: 40px;
}
.mar-left-50{
    margin-left: 50px;
}