@import "shared-tech-mono.css";
@import "myriad.css";

.jumbotron{
    font-family: "Share-TechMono"!important;
    color: #73C6BA !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.jumbotron li a .h{
    font-size: 20px;
}

.sm{
    font-size: 36px!important;
}


button[purchase-submit]{
    line-height: 22px;
    font-size: 20px;
    font-family: 'Myriad-Pro';
    color:#fff;
    background: transparent;
    padding: 17px 30px;
    border-radius: 0;
    border:2px solid #fff;
    position: relative;
    margin: 15px auto 0;
    box-sizing: border-box;
    width: auto;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

button[purchase-submit]:hover{
    color:#335981;
    cursor: pointer;
    background: #fff;
    border-color: #fff;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

button[purchase]{
    line-height: 22px;
    font-size: 20px;
    font-family: 'Myriad-Pro';
    color:#335981;
    background: transparent;
    padding: 17px 30px;
    border-radius: 0;
    border:2px solid #335981;
    position: relative;
    margin: 15px auto 0;
    box-sizing: border-box;
    width: auto;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

button[purchase]:hover{
    color:#fff;
    cursor: pointer;
    background: #335981;
    border-color: #335981;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    transition: All 0.5s ease;
}

input[purchase]{
    line-height: 45px;
    font-size: 20px;
    height: 50px;
    font-family: 'Myriad-Pro';
    color:#335981;
    background: transparent;
    padding: 0 0 0 10px;
    border-radius: 0;
    border: 2px solid transparent;
    border:2px solid #335981;
    position: relative;
    margin: 0 auto 15px;
    box-sizing: border-box;
    width: 100%;
}

.item{
    /*background: rgb(132,145,151);*/
    font-size: 13px!important;
}

.item span{
    padding: 0 0 3px;
    float: left;
    color: #df691a;
}


*[item],*[c-radio]{
    margin-top: 5px;
    cursor: pointer;
    padding: 0;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;
    background: #df691a
}
*[item] label, *[c-radio] label{
    cursor: pointer;
    height: 28px;
    color: #fff;
    padding: 4px 6px 4px 0;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Myriad-Pro';
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*[item] input[type="radio"],
*[item] input[type="checkbox"] {
    display: none;
}
*[item] input[type="checkbox"]:not(:checked) + label:before,
*[item] input[type="checkbox"]:checked + label:before{
    width: 28px;
    height: 28px;
    border: 2px solid #df691a;
    content: '';
    position: absolute;
    left:2px;
    top: 2px;
    background: #fff;
    cursor: pointer;
    user-select: none;
}
*[item] input[type="checkbox"]:not(:checked) + label:after,
*[item] input[type="checkbox"]:checked + label:after {
    font-family: "Glyphicons Halflings";
    content: '\e013';
    position: absolute;
    top: 0; left: 5px;
    font-size: 20px;
    color: #df691a;
    transition: all .2s;
    cursor: pointer;
    user-select: none;
}
*[item] input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
*[item] input[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/*
color: #73C6BA;
*/

.shadow{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

#new{
    background: url("/images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Myriad-Pro", 'opentype';
}

.navbar-default{
    background-color: transparent!important;
}

.navy-bg {
    background-color: #1ab394;
    color: #ffffff;
}

.widget {
    border-radius: 0;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}